.bold {
  font-weight: 600;
  text-transform: uppercase;
}
.App {
  position: absolute;
  width:100%;
  height: 100%;

  header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;

    > div {
      font-size: 15px;
      width: 324px;
      text-align: center;
      margin: 0 auto;
    }
  }

  footer {
    width: 360px;
    position: relative;
    margin: 0 auto;
    padding: 10px 4px;
    margin-top: 10px;
    
    .score {
      justify-content: center;
      display: flex;

      div {
        padding: 8px
      }
    }

    .restart {
      display: flex;
      justify-content: center
    }
  }

  .container {
    border: 1px solid #DEDEDE;
    padding: 12px;
    box-shadow: 0 0 4px 4px #DEDEDE; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    gap: 1rem;
    margin: 0 auto;
    width: 360px;
    height: 300px;
    perspective: 100%;
    max-width: 720px;
  }
}